.question
  = render 'show_question'
%hr
.errors
%hr


.answers
  = render @question.answers.order(:the_best, :id)


.answer-create
  - if user_signed_in?
    = form_for [@question, @answer], remote: true do |f|
      = f.label :body, 'answer'
      = f.text_area :body
      = f.submit 'Submit'
  - else
    %p please sign in/sign up for answer
